
$font-josephin: 'Josefin Sans', sans-serif;
$font-sirin: 'Sirin Stencil', cursive;
$font-blackOps: 'Black Ops One', cursive;
$font-Bungee: 'Bungee Shade', cursive;
$font-mono: 'Cutive Mono', monospace;

$asidePanelColor : lighten(white, 15% );
$topPanelColor :  saturate( white, 5% );